<div class="container" ng-controller="myController">{{ igra }}
    <table id="header-fixed" style="margin-top: 50px;" class="table table-bordered">
        <thead style="background-color: #ddd">
             <tr>
                 <th style="width: 12%;">#</th>
                 <th ng-click="dodajEdino(1);" class="table-header">{{ igralci.igralci[0].ime }}</th>
                 <th ng-click="dodajEdino(2);" class="table-header">{{ igralci.igralci[1].ime }}</th>
                 <th ng-click="dodajEdino(3);" class="table-header">{{ igralci.igralci[2].ime }}</th>
                 <th ng-click="dodajEdino(4);" class="table-header">{{ igralci.igralci[3].ime }}</th>
             </tr>
        </thead>
        <tbody>
            <tr ng-repeat="igra in igre track by $index">
                <td>{{ $index + 1 }}</td>
                <td class="cellClass">{{ igra['1'] }}</td>
                <td class="cellClass">{{ igra['2'] }}</td>
                <td class="cellClass">{{ igra['3'] }}</td>
                <td class="cellClass">{{ igra['4'] }}</td>
                <td ng-if="$last"><button ng-click="izbrisiIgro()" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
            </tr>
        </tbody>
        <tfoot style="border-top: 2px solid #000">
            <tr>
                <td><button ng-click="dodajIgro()" type="button" class="btn btn-default">Vpiši novo igro</button></td>
                <td><input type="text" class="form-control" ng-model="igra['1']"></td>
                <td><input type="text" class="form-control" ng-model="igra['2']"></td>
                <td><input type="text" class="form-control" ng-model="igra['3']"></td>
                <td><input type="text" class="form-control" ng-model="igra['4']"></td>
            
            </tr>
        </tfoot>
    </table>
    <button class="btn btn-default" ng-click="zacniGovor($event);">Zacni govor</button>
    
</div>
